#screen {
    position: relative;
    overflow: hidden;
}

body {
    margin: 0;
}

.hide {
    display: none;
}

#time {
    background-image: url(grafik/ur.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12vw;
    height: 15vw;
    top: 0vw;
    left: 0vw;
}

#urviser {
    background-image: url(grafik/Ur%20viser.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1vw;
    height: 4.3vw;
    top: 4.1vw;
    left: 5.6vw;
}

.rotate {
    animation-name: rotate_kf;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: bottom;
}

@keyframes rotate_kf {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}


.dissappear {
    animation-name: dissappear_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes dissappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade_out2 {
    animation-name: fadeout2_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout2_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade_in {
    animation-name: fade_in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#menu_background {
    overflow: hidden;
}

.zoom {
    animation-name: zoom;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(3);
    }
}

.zoommand {
    animation-name: zoommand;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes zoommand {
    0% {
        transform: scale(1) translateY(1vw) translateX(1vw);
    }

    100% {
        transform: scale(3) translateY(20vw) translateX(20vw);
    }
}

#start_background {
    background-image: url(grafik/Artboard%2018.svg);
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 56.25vw;
    animation-timing-function: linear;
    animation-name: slide;
    animation-duration: 200s;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1000%;
    }
}

.paused {
    animation-play-state: paused;
}


#mand_sprite {
    background-size: 1800% 100%;
    width: 17vw;
    height: 40vw;
    background-image: url(grafik/SPRITE10.svg);
    position: absolute;
    bottom: 8vw;
    left: 15vw;
}

.walk {
    animation-name: gå;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(18);

}


@keyframes gå {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1800% 0;
    }
}

#start {
    background-image: url(grafik/play.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20vw;
    height: 15vw;
    top: 38vw;
    left: 44vw;
    cursor: pointer;


}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}

#game_background {
    background-color: darkblue;
    background-size: cover;
    position: relative;
    width: 300vw;
    height: 56.25vw;
}

.nøgentype1 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.nøgentype2 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 25vw;
    background-image: url(grafik/billede3.svg);
    background-size: 100%;
    cursor: pointer;
}

.nøgentype3 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede4.svg);
    background-size: 100%;
    cursor: pointer;
}

.nøgentype4 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 18vw;
    background-image: url(grafik/billede5.svg);
    background-size: 100%;
    cursor: pointer;
}

.persontype1 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede6.svg);
    background-size: 100%;
    cursor: pointer;
}

.persontype2 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede7.svg);
    background-size: 100%;
    cursor: pointer;
}

.persontype3 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede8.svg);
    background-size: 100%;
    cursor: pointer;
}

.persontype4 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 22vw;
    background-image: url(grafik/billede9.svg);
    background-size: 100%;
    cursor: pointer;
}

.andettype1 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede10.svg);
    background-size: 100%;
    cursor: pointer;
}

.andettype2 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 18vw;
    background-image: url(grafik/billede11.svg);
    background-size: 100%;
    cursor: pointer;
}

.andettype3 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 17vw;
    background-image: url(grafik/billede12.svg);
    background-size: 100%;
    cursor: pointer;
}

/*
.type12 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede7.svg);
    background-size: 100%;
    cursor: pointer;
}

.type13 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede7.svg);
    background-size: 100%;
    cursor: pointer;
}
*/
/*
.type14 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede7.svg);
    background-size: 100%;
    cursor: pointer;
}
.type15 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede7.svg);
    background-size: 100%;
    cursor: pointer;
}
.type16 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede7.svg);
    background-size: 100%;
    cursor: pointer;
}
.type17 {
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    background-image: url(grafik/billede7.svg);
    background-size: 100%;
    cursor: pointer;
}
*/


.position1 {
    left: 47vw;
    top: 25vw;
}

.position2 {
    left: 21vw;
    top: 25vw;
}

.position3 {
    left: 74vw;
    top: 25vw;
}

.position4 {
    left: 0vw;
    top: 25vw;
}

.falde {
    animation-name: falde;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes falde {
    0% {
        transform: translateY(-100vw);
    }

    100% {
        transform: translateY(30vw);
    }
}

.like {
    width: 4.5vw;
    height: 3.96vw;
    background-image: url(grafik/Liv%20like.svg);
    background-size: 100%;
    margin-right: 0.9vw;
    display: inline-block;
}
